* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
}

.container {
margin-top: 50px;
}

nav {
  width: 550px;
  height: 55px;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

h2 {
  font-size: 14.46px;
  font-weight: 500;
  line-height: 17.5px;
  letter-spacing: -7.5%;
  color: #FFF;
}

.container {
    width: 550px;
    height: 649px;
    background-color: #FFF;
}

.card-info {
    display: flex;
    flex-direction: row;
    width: 470px;
    height: 168px;
    margin: 20px 40px 20px 40px;
}

.location-photo {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover;
}

.location-info {
    margin-left: 19px;
}

.location {
    display: flex;
    flex-direction: row;
}

.pin {
    width: 7px;
    height: 9.55px;
    margin-right: 5px;
}

.country {
    color: #2B283A;
    font-size: 10.24px;
    line-height: 12.39px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 15px;
}

a {
    color: #918E9B;
    font-size: 10.24px;
    line-height: 12.39px;
    font-weight: 400;
}

a:active,
a:hover,
a:visited {
    color: #918E9B;
}

h1 {
    margin-top: 4px;
    margin-bottom: 7px;
    color: #2B283A;
    font-size: 25px;
    line-height: 30.26px;
    font-weight: 700;
}

.dates {
    margin-top: 14px;
    margin-bottom: 9px;
    color: #2B283A;
    font-size: 10.24px;
    line-height: 12.39px;
    font-weight: 700;
}

.description {
    margin-top: 9px;
    color: #2B283A;
    font-size: 10.24px;
    line-height: 15.36px;
}